<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="./static/efms-styles.css">

</head>
<style>
  header{
  background-color: #00A885;
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  }
</style>
<body>

<div class="logo text-center">
<header>
        <h1>Early Flood Monitoring System</h1>
        <img src="./static/logo.png" alt="Logo" width="100">
</header>
</div>
<div class="wrapper">
  <div class="inner-warpper text-center">
    <h2 class="title">Login to your account</h2>
    <form action="/efms-login" id="formvalidate" method="POST">
      <div class="input-group">
        <!-- <label class="palceholder" for="userName">User Name</label> -->
        <input class="form-control" name="username" id="username" type="text" placeholder="Username" required />
        <span class="lighting"></span>
      </div>
      <div class="input-group">
        <!-- <label class="palceholder" for="userPassword">Password</label> -->
        <input class="form-control" name="password" id="password" type="password" placeholder="Password" required/>
        <span class="lighting"></span>
      </div>

      <button type="submit" id="login" value="Login">Login</button>
      <div class="signup-wrapper text-center">
    <a href="register.php">Don't have an account? <span class="text-primary">Create One</span></a>
  </div>
    </form>
  </div>
 
</div>

<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js'></script>
<script  src="./static/efms-script.js"></script>

</body>
</html>
